@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="LinsController" class="linsdisplay">
    <div class="container">
        <div class="row">
            <div class="item col-md-4" ng-repeat="l in Lins">
                <div class="well text-center">
                    <a href="{{l.LinkImage }}">
                        <img class="img-responsive img-rounded" src="{{l.Image}}" />
                    </a>
                    <br />
                    <p>{{l.Pintext}}</p>
                    <p>submitted {{l.CreatedOn}} by {{l.Name}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-right">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New Lin</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-left">New Pin</h4>
                    </div>
                    <div class="modal-body text-left">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="PhotoUrl">Your Image</label>
                                <input class="form-control" type="text" ng-model="newLin.PhotoUrl"/>
                            </div>
                            <div class="form-group">
                                <label for="PhotoUrl">Your Image Link</label>
                                <input class="form-control" type="text" ng-model="newLin.LinkImage" />
                            </div>
                            <div class="form-group">
                                <label for="Text">Text</label>
                                <input class="form-control" type="text" ng-model="newLin.Text"/>
                            </div>
                            <button type="button" ng-click="saveLin()">Create Lin</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
