@{
    ViewBag.Title = "Home Page";
}

<h2>{{ 1 + 1 }}</h2>

<h2>{{ 1 == 10 }}</h2>

<div ng-controller="LinsController">
    <div ng-repeat="l in Lins">
        {{ l.CreatedOn}}
        {{ l.Author.Handle }}
        {{ l.Text }}
        {{ l.NUmOfComments }}
        <a href="{{l.PinImageUrl}}">
            <img class="img-responsive img-thumbnail" style="width: 200px;" ng-src="{{ l.ImageUrl }}" alt="" />
        </a>
    </div>

    <form>
        <div class="form-group">
            ImageUrl:
            <input type="text" name="ImageUrl" value="" ng-model="newLin.PhotoUrl" />
        </div>
        <div class="form-group">
            Text: <input type="text" name="Text" value="" ng-model="newLin.Text" />
        </div>
        <input class="btn btn-primary" type="button" ng-click="saveLin()" value="Save Lin" />
    </form>
</div>